@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-prmaria: #a8afff;
    --cor-secundaria: ;

    --fonte-principal:'Poppins';
    --fonte-secundaria: 'urbanist';
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-prmaria);
    font-family: var(--fonte-principal);
    
}

.painel_principal{
    display: flex;
}
.painel_Esquerdo{
 
    margin: 20px;
}
.perfil{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 20%;
    }
    
    h1{
        font-size: 30px;
    }
}
.painel_funcoes{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 600;
    font-size: 25px;
    margin: 0 50px;
  
    a{
        text-decoration: none;
        color: #000;
  }
 
}
.gestor_dashboard{
    width: 100%;
    margin: 20px;
    font-style: bold;
    background-color: #FFFFFF;
    border-radius:20px;
}

.home{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}
